body{
    background-color: rgb(223, 65, 65); color: #ffffff;:
}
header{
border-bottom:solid 2px rgb(102, 47, 47);
padding: 20px;
font-size: 35px;
color:rgb(34, 2, 2)
}
.chamada{
 background-color:rgb(102, 51, 51);
 padding: bottom 80px;
}